In [1]:
import pandas as pd
import psycopg2
import matplotlib.pyplot as plt

from init import settings

In [2]:
%matplotlib inline

In [3]:
conn = psycopg2.connect(database=settings.DB, user=settings.UN, password=settings.PW,
        host=settings.H, port=settings.PORT)

In [4]:
tables = pd.read_sql_query("""
SELECT table_name
  FROM information_schema.tables
 WHERE table_schema='public'
   AND table_type='BASE TABLE'
   AND table_name not like '%_old'""", conn)

In [5]:
table_names = tables['table_name'].tolist()

In [6]:
table_names

['deductions',
 'calls',
 'pcs',
 'goe',
 'competitors',
 'elt_scores',
 'total_scores',
 'judges_with_countries',
 'judges']

In [7]:
judges = pd.read_sql_query("Select * FROM judges", conn)

In [8]:
judges.head()

,elt_id,season,year,event,sub_event,discipline,category,segment,role,judge_name,country
0,0,SB2014,2014,SC,,Men,Sr,SP,Referee,Rita ZONNEKEYN,ISU
1,1,SB2014,2014,SC,,Men,Sr,SP,Technical Controller,Benoit LAVOIE,ISU
2,2,SB2014,2014,SC,,Men,Sr,SP,Technical Specialist,Claudia UNGER,ISU
3,3,SB2014,2014,SC,,Men,Sr,SP,Assistant Technical Specialist,Jyrina LORENZ,ISU
4,4,SB2014,2014,SC,,Men,Sr,SP,j1,Emilie BILLOW,SWE

In [9]:
judges.dtypes

elt_id        object
season        object
year           int64
event         object
sub_event     object
discipline    object
category      object
segment       object
role          object
judge_name    object
country       object
dtype: object